.AppBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 5rem;
  display: flex;
  align-items: center;
  .Fill {
    flex: 1;
  }
  .ActionButton,
  .Logo {
    display: flex;
    align-items: center;
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    & {
      -webkit-backdrop-filter: blur(2em);
      backdrop-filter: blur(2em);
    }
  }
}

.NavigationPanel {
  .Filler {
    flex-grow: 1;
  }
}

.BottomAppBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
}
