.WrapperList {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  .ItemListing {
    flex-grow: 1;
  }
  .FloatingPay {
    width: 300px;
    padding: 1rem;
    .TextLR {
      display: flex;
      margin-bottom: 8px;
      .Left {
        flex: 1 1;
      }
      .Right {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .WrapperList {
    flex-direction: column;
    .FloatingPay {
      width: 100%;
    }
  }
}
