@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  user-select: none;
  height: 100%;
}

body[data-smooth-color-transition] {
  transition-property: all;
  transition-duration: 115ms;
  & p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    transition-property: color;
    transition-duration: 95ms;
  }
  svg {
    transition-property: fill;
    transition-duration: 115ms;
  }
  [data-force-smooth-transition] {
    transition-property: background-color, color;
    transition-duration: 115ms;
  }
}

#nprogress .bar {
  z-index: 9999999999999 !important;
}
#nprogress .spinner {
  z-index: 9999999999999 !important;
}

#root {
  height: calc(100% - 64px);
}

main#content_ui {
  height: 100%;
  box-shadow: 0 -5px 20px -7px #000000;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

nextjs-portal {
  user-select: text;
}

.fullscreen_cmp_w_navbar {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: calc(100% - 64px);
  border: 0;
}
