$padding-x-1: 48px;
$padding-y-1: 18px;
.HeroBox {
  height: 60vh;
  min-height: 575px;
  max-height: 1080px;
  position: relative;
  .AutoplayFab {
    position: absolute;
    left: 1rem;
    bottom: -2.5rem;
    z-index: 5;
  }
}
.RecommendationsProd {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
}

.AboutCompany {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
}

.Partners {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
  text-align: center;
  .LogoLists {
    display: block;
    margin-top: 1rem;
    max-width: 960px;
    margin-inline: auto;
    .LogoItem {
      line-height: 60px;
      min-height: 60px;
      padding: 1rem;
      text-align: center;
      width: 108px;
      height: 108px;
      position: relative;
      display: inline-block;
      margin: 0.25rem;
      vertical-align: middle;
      img {
        object-fit: contain;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        padding: 1rem;
      }
    }
  }
}

.OurServicesList {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
  margin-top: 1rem;
  min-height: 200px;
  text-align: center;
  .UXLists {
    display: flex;
    height: 250px;
    margin-top: 1rem;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      height: auto;
      align-items: center;
    }
    .Item {
      display: flex;
      flex-direction: column;
      width: 220px;
      justify-content: center;
      padding-top: $padding-y-1;
      padding-bottom: $padding-y-1;
      align-items: center;
      .ItemTitle {
        margin-top: 1rem;
      }
    }
  }
}

.OuterTestimonialWrapper {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
  max-width: 960px;
  margin-inline: auto;
}

.KelebihanBoxWrapper {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
  max-width: 1080px;
  min-height: 480px;
  margin-inline: auto;
  margin-bottom: 1rem;
  display: flex;
  gap: 2.25rem;
  .CoverImage {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    .Image {
      object-position: center;
      object-fit: contain;
      -webkit-user-drag: none;
    }
  }
  .TextContainer {
    width: 400px;
    user-select: text;
  }
  &.RowInverted {
    .TextContainer {
      flex: 1;
    }
    .CoverImage {
      flex: initial;
      width: 500px;
    }
  }
  @media screen and (max-width: 800px) {
    & {
      flex-direction: column;
      padding-inline: 5rem;
      .CoverImage {
        min-height: 480px;
      }
      .TextContainer {
        width: auto;
      }
    }
    &.RowInverted {
      flex-direction: column-reverse;
      .CoverImage {
        width: auto;
      }
    }
  }
  @media screen and (max-width: 500px) {
    & {
      padding-inline: 2rem;
    }
  }
}

.OurMissionContainer {
  display: flex;
  padding: 5rem;
  text-align: start;
  white-space: break-spaces;
  gap: 5rem;
  user-select: text;
  max-width: 1080px;
  margin: 0 auto;

  .Item {
    flex: 50%;
  }
  @media screen and (max-width: 920px) {
    & {
      flex-direction: column;
      gap: 3rem;
    }
  }
}

.DontScaleImg {
  img {
    object-fit: cover !important;
  }
}
