$padding-x-1: 48px;
$padding-y-1: 18px;
.HeroBox {
  height: 60vh;
  min-height: 500px;
  max-height: 1080px;
  position: relative;
  .AutoplayFab {
    position: absolute;
    left: 1rem;
    bottom: -2.5rem;
    z-index: 5;
  }
}
.RecommendationsProd {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
}

.AboutCompany {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
}

.Partners {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
  text-align: center;
  .LogoLists {
    display: block;
    margin-top: 1rem;
    max-width: 960px;
    margin-inline: auto;
    .LogoItem {
      line-height: 60px;
      min-height: 60px;
      padding: 1rem;
      text-align: center;
      max-width: 140px;
      display: inline-block;
      margin: 0.25rem;
      vertical-align: middle;
      img {
        width: 100%;
        height: auto;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
      }
    }
  }
}

.OurServicesList {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
  margin-top: 1rem;
  min-height: 200px;
  text-align: center;
  .UXLists {
    display: flex;
    height: 250px;
    margin-top: 1rem;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      height: auto;
      align-items: center;
    }
    .Item {
      display: flex;
      flex-direction: column;
      width: 220px;
      justify-content: center;
      padding-top: $padding-y-1;
      padding-bottom: $padding-y-1;
      align-items: center;
      .ItemTitle {
        margin-top: 1rem;
      }
    }
  }
}

.OuterTestimonialWrapper {
  padding-top: $padding-y-1;
  padding-bottom: $padding-y-1;
  padding-left: $padding-x-1;
  padding-right: $padding-x-1;
  max-width: 960px;
  margin-inline: auto;
}
