.SettingsContainer {
  display: flex;
  padding: 1rem;
  gap: 1.25rem;
  .Sidebar {
    min-width: 320px;
  }
  .Child {
    flex: 1 1;
  }
  @media screen and (max-width: 600px) {
    .Sidebar {
      min-width: none;
      flex: 1;
    }
  }
}
