.ShopContainer {
  display: flex;
  max-width: 1000px;
  margin-inline: auto;
  .Sidebar {
    text-wrap: nowrap;
    overflow-x: hidden;
  }
  .Content {
    flex: 1 1;
    .HeaderCategoryList {
      max-width: 1000px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      overflow-x: auto;
      .HorizontalCategory {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
        padding: 0.25rem;
        .CategoryItem {
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: left;
          min-height: 80px;
          gap: 1rem;
          color: currentColor;
          text-transform: initial;
          .CategoryItemIcon {
            display: flex;
            align-items: center;
          }

          @media (max-width: 768px) {
            & {
              grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            }
          }

          @media (max-width: 480px) {
            & {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
}
